<div class="signup_box">
  <h1>INSTAGRAM CLONE</h1><br>
    <h3>Avez-vous un compte ?</h3>
    <button class="btn profile-edit-btn" type="button"><%= link_to "Se connecter ", new_session_path, class: 'log_link' %></button><br>
</div>
<%= image_tag 'Insta.png', class: 'top_image' %>
